<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<h1>Create account</h1>
<form th:action="@{/signup}" method="post">
    <label>Name</label><br>
    <input type="text" name="name"/><br>

    <label>Email</label><br>
    <input type="email" name="email"/><br>

    <label>Password</label><br>
    <input type="password" name="password"/><br>

    <label>Confirm Password</label><br>
    <input type="password" name="confirmPassword"/><br>

    <button type="submit">Submit</button>
</form>

<p>Have account? <a th:href="@{/login}">Login</a></p>
<p><a th:href="@{/}">Home</a></p>
<p th:if="${error}" th:text="${error}" style="color:red"></p>
</body>
</html>
